.container{
    width: 800px;
    height: 200px;
    text-align: center;
    position: relative;
    top: 20px;
    left: 400px;
}

.btn{
    background: #011c37;
    color: #15dea5;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
}

.btn:hover{
    transform: scale(1.15);
}